@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');


@layer base {
    body {
        @apply font-single-day;
        overflow-x: hidden; /* Prevent horizontal scroll */
    }
    html {
        @apply font-single-day;
        overflow-x: hidden; /* Prevent horizontal scroll */
    }
    * {
        @apply font-single-day;
        box-sizing: border-box; /* Prevent elements from expanding beyond their container */
    }
}
